.subject {
  align-self: center;
  border: 1px solid #000;
  margin: 25px;
  padding: 10px;
}

.teacher {
  border: 1px solid #555;
  background-color: #888;
  margin: 10px;
  padding: 10px;
}

.students {
  border: 1px solid #555;
  margin: 10px;
  padding: 10px;
}